/* ERIC MEYER TY FOR THIS STYLES <3 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF ERIC MEIER */
.wrapper {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  overflow: hidden;
}

.gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), color-stop(60%, #ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 60%);
}

.section-intro {
  background: url(../img/circle.png), url(../img/fon.png);
  background-position: top right, center;
  background-size: 37%, cover;
  background-repeat: no-repeat;
  height: 1080px;
}

.section-intro .wrapper {
  width: 100%;
}

.section-intro .wrapper .intro {
  width: 100%;
}

.section-intro .wrapper .intro .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 230px;
}

.section-intro .wrapper .intro .description .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Russo One', sans-serif;
}

.section-intro .wrapper .intro .description .title-content .intro-title {
  color: #ffffff;
  font-size: 80px;
  margin-bottom: 75px;
  letter-spacing: inherit;
  text-align: right;
  font-weight: 800;
}

.section-intro .wrapper .intro .description .title-content .intro_title-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #2beaff), to(#ff12e3));
  background: linear-gradient(90deg, #2beaff 35%, #ff12e3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-intro .wrapper .intro .description .button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-intro .wrapper .intro .description .button-block .intro-button {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #2beaff), to(#ff12e3));
  background: linear-gradient(90deg, #2beaff 35%, #ff12e3 100%);
  font-size: 50px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 400px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

.section-intro .wrapper .intro .description .button-block .arrow {
  width: 80px;
  margin: 0 auto;
}

.video-svg_block {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), to(#ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 100%);
  height: 120px;
  width: 100%;
}

.video-svg_block .black-div {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-svg_block .black-div .svg-video {
  height: 120px;
}

.section-video {
  background: -webkit-gradient(linear, left top, right top, from(#ff12e3), color-stop(10%, #190e30), color-stop(90%, #190e30), to(#2beaff));
  background: linear-gradient(90deg, #ff12e3 0%, #190e30 10%, #190e30 90%, #2beaff 100%);
}

.section-video .wrapper .video_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-video .wrapper .video_block .video {
  height: 600px;
  border: 1px solid white;
  margin: 50px 0 100px 0;
}

.section-video .wrapper .video_block .content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-family: 'Russo One', sans-serif;
}

.section-video .wrapper .video_block .content_block .video_svg-content {
  height: 80px;
  margin-bottom: 30px;
}

.section-video .wrapper .video_block .content_block .video_title-content {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #2beaff), to(#ff12e3));
  background: linear-gradient(90deg, #2beaff 35%, #ff12e3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  padding-bottom: 10px;
}

.section-video .wrapper .video_block .content_block .video_description-content {
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  font-size: 26px;
}

.section-about {
  width: 100%;
}

.section-about .black-div {
  background-color: rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about .black-div .about_text {
  font-family: 'Russo One', sans-serif;
  color: white;
  text-align: center;
  opacity: 8;
  font-size: 34px;
  max-width: 700px;
  margin: 40px 0;
}

footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), to(#ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 100%);
}

footer .wrapper .footer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .wrapper .footer-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 70px;
}

footer .wrapper .footer-cards .card img {
  width: 200px;
  padding-bottom: 20px;
}

footer .wrapper .footer-cards .card span {
  font-size: 32px;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=index.css.map */