/* ERIC MEYER TY FOR THIS STYLES <3 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#currentpage {
  color: green;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF ERIC MEIER */
.wrapper {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  overflow: hidden;
}

section {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 30;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

header .wrapper .nav-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  header .wrapper .nav-desk {
    display: none;
  }
}

header .wrapper .nav-desk li a {
  text-decoration: none;
  color: white;
}

header .wrapper .nav-mob {
  padding-top: 15px;
  width: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100vh;
  margin-left: auto;
  background: #190E30;
  border-right: 1px solid white;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

header .wrapper .nav-mob li {
  margin-top: 20px;
}

header .wrapper .nav-mob li a {
  text-decoration: none;
  color: white;
}

header .wrapper #nav-container {
  display: none;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 900px) {
  header .wrapper #nav-container {
    display: block;
  }
}

header .wrapper #nav-container .toggle-icon {
  width: 60px;
  height: 60px;
  padding: 5px;
}

header .wrapper #nav-container .toggle-icon .close-menu {
  display: none;
}

header .wrapper #nav-container .toggle-icon img {
  width: 50px;
  height: 50x;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #190E30;
}

html, body {
  width: 100%;
  height: 100%;
}

button {
  -webkit-transition: all .3s;
  transition: all .3s;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), color-stop(60%, #ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 60%);
}

.gradient-text {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), color-stop(60%, #ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black {
  background-color: rgba(0, 0, 0, 0.4);
}

.section-intro {
  background: url(../img/circle.png), url(../img/fon.png);
  background-position: top right, center;
  background-size: 37%, cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media screen and (max-width: 1360px) {
  .section-intro {
    background-position: top right, center;
    background-size: 37%, cover;
  }
}

@media screen and (max-width: 1000px) {
  .section-intro {
    background: url(../img/fon.png) 100%;
    background-position: 10% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 900px) {
  .section-intro {
    background-position: 12% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .section-intro {
    background-position: 20% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  .section-intro {
    background-position: 27% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .section-intro {
    background-position: 30% 50%;
    background-size: cover;
  }
}

.section-intro .wrapper .intro {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-intro .wrapper .intro .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-intro .wrapper .intro .description .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Russo One', sans-serif;
}

.section-intro .wrapper .intro .description .title-content .intro-title {
  color: #ffffff;
  font-size: 80px;
  margin-bottom: 75px;
  letter-spacing: inherit;
  text-align: right;
  font-weight: 800;
}

@media screen and (max-width: 1360px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1170px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    margin-bottom: 50px;
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    font-size: 42px;
  }
}

@media screen and (max-width: 400px) {
  .section-intro .wrapper .intro .description .title-content .intro-title {
    font-size: 35px;
  }
}

.section-intro .wrapper .intro .description .title-content .text-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), color-stop(60%, #ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  .section-intro .wrapper .intro .description .title-content .text-gradient {
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-intro .wrapper .intro .description .button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-intro .wrapper .intro .description .button-block .intro-button {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 400px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

@media screen and (max-width: 1360px) {
  .section-intro .wrapper .intro .description .button-block .intro-button {
    width: 320px;
    font-size: 50px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1170px) {
  .section-intro .wrapper .intro .description .button-block .intro-button {
    width: 300px;
    font-size: 40px;
    font-weight: 400;
  }
}

@media screen and (max-width: 500px) {
  .section-intro .wrapper .intro .description .button-block .intro-button {
    width: 240px;
    font-size: 32px;
    font-weight: 400;
  }
}

@media screen and (max-width: 400px) {
  .section-intro .wrapper .intro .description .button-block .intro-button {
    width: 200px;
    font-size: 28px;
    font-weight: 400;
  }
}

.section-intro .wrapper .intro .description .button-block .arrow {
  width: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 1360px) {
  .section-intro .wrapper .intro .description .button-block .arrow {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .section-intro .wrapper .intro .description .button-block .arrow {
    width: 50px;
  }
}

.video-svg_block {
  height: 120px;
  width: 100%;
}

.video-svg_block .black-div {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-svg_block .black-div .svg-video {
  height: 120px;
}

.section-video {
  background: url(../img/fon-description.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 1080px;
}

.section-video .wrapper .video_block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 80px;
  font-family: sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-video .wrapper .video_block .video iframe {
  margin: 50px 0;
}

@media screen and (max-width: 1360px) {
  .section-video .wrapper .video_block .video iframe {
    max-width: 896px;
    max-height: 504px;
  }
}

@media screen and (max-width: 1000px) {
  .section-video .wrapper .video_block .video iframe {
    max-width: 640px;
    max-height: 360px;
  }
}

@media screen and (max-width: 700px) {
  .section-video .wrapper .video_block .video iframe {
    max-width: 448px;
    max-height: 252px;
  }
}

@media screen and (max-width: 500px) {
  .section-video .wrapper .video_block .video iframe {
    max-width: 294px;
    max-height: 165px;
  }
}

.section-video .wrapper .video_block .content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-family: 'Russo One', sans-serif;
}

.section-video .wrapper .video_block .content_block .video_svg-content {
  height: 80px;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .section-video .wrapper .video_block .content_block .video_svg-content {
    margin-bottom: 10px;
  }
}

.section-video .wrapper .video_block .content_block .video_title-content {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

.section-video .wrapper .video_block .content_block .video_description-content {
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  font-size: 26px;
}

@media screen and (max-width: 700px) {
  .section-video .wrapper .video_block .content_block .video_description-content {
    max-width: 600px;
    font-size: 22px;
  }
}

.section-about {
  width: 100%;
}

.section-about .black-div {
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about .black-div .about_text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  max-width: 800px;
  margin: 60px 0;
}

@media screen and (max-width: 1000px) {
  .section-about .black-div .about_text {
    max-width: 700px;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .section-about .black-div .about_text {
    max-width: 600px;
    font-size: 25px;
  }
}

@media screen and (max-width: 580px) {
  .section-about .black-div .about_text {
    max-width: 500px;
    font-size: 22px;
  }
}

.section-about-apps {
  background-color: #190e30;
  font-family: 'Montserrat', sans-serif;
}

.section-about-apps .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70%;
}

@media screen and (max-width: 760px) {
  .section-about-apps .wrapper {
    max-width: 90%;
  }
}

.section-about-apps .wrapper .apps_description-block {
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  width: 100%;
}

.section-about-apps .wrapper .apps_description-block .black-div {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.section-about-apps .wrapper .apps_description-block .black-div span {
  padding: 3px 0;
  color: white;
  font-size: 32px;
}

@media screen and (max-width: 1360px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 760px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 18px;
    font-weight: 400;
  }
}

@media screen and (max-width: 570px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .section-about-apps .wrapper .apps_description-block .black-div span {
    text-align: center;
  }
}

.section-about-apps .wrapper .apps_main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin-top: 70px;
}

@media screen and (max-width: 1360px) {
  .section-about-apps .wrapper .apps_main-block {
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 760px) {
  .section-about-apps .wrapper .apps_main-block {
    margin-top: 10px;
  }
}

.section-about-apps .wrapper .apps_main-block .apps_applications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
  color: white;
  font-size: 90px;
  font-weight: 500;
  line-height: 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1600px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    line-height: 80px;
    font-size: 70px;
  }
}

@media screen and (max-width: 1360px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    font-size: 60px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1200px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    line-height: 65px;
    font-size: 48px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1000px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    line-height: 50px;
    font-size: 40px;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    text-align: center;
    line-height: 64px;
    font-size: 55px;
    font-weight: 600;
  }
}

@media screen and (max-width: 760px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    line-height: 56px;
    font-size: 42px;
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications .application_text {
    font-size: 38px;
  }
}

.section-about-apps .wrapper .apps_main-block .apps_applications a {
  padding: 10px;
}

.section-about-apps .wrapper .apps_main-block .apps_applications a .apps_button {
  color: white;
  border: none;
  outline: none;
  font-size: 33px;
  font-weight: 600;
  border-radius: 40px;
  padding: 40px 10px;
  cursor: pointer;
  max-width: 470px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1360px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications a .apps_button {
    padding: 25px 0;
    max-width: 360px;
    font-size: 28px;
  }
}

@media screen and (max-width: 1000px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications a .apps_button {
    padding: 25px 0;
    max-width: 360px;
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block .apps_applications a .apps_button {
    margin: 0 auto;
    padding: 25px 25px;
  }
}

.section-about-apps .wrapper .apps_main-block .apps_users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block .apps_users {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
  margin-top: 10px;
  max-width: 400px;
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    max-width: 350px;
    line-height: 40px;
    font-size: 35px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1360px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    max-width: 320px;
    font-size: 32px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1000px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    max-width: 280px;
    line-height: 36px;
    font-size: 28px;
    font-weight: 400;
  }
}

@media screen and (max-width: 900px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    text-align: center;
    max-width: 400px;
    line-height: 48px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 760px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    max-width: 320px;
    line-height: 42px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .section-about-apps .wrapper .apps_main-block .apps_users .icons-block_text {
    font-size: 28px;
  }
}

footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2beaff), color-stop(60%, #ff12e3));
  background: linear-gradient(90deg, #2beaff 10%, #ff12e3 60%);
  position: relative;
  border-radius: 3%;
}

footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 3%;
}

footer .wrapper .footer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  footer .wrapper .footer-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .wrapper .footer-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  width: 20%;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  footer .wrapper .footer-cards .card {
    width: 100%;
  }
}

footer .wrapper .footer-cards .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

footer .wrapper .footer-cards .card a img {
  width: 150px;
}

@media screen and (max-width: 1000px) {
  footer .wrapper .footer-cards .card a img {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  footer .wrapper .footer-cards .card a img {
    width: 200px;
  }
}

footer .wrapper .footer-cards .card a span {
  font-size: 32px;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 15px;
}

footer .container {
  width: 100%;
  height: 120px;
  background-color: #190E30;
  position: absolute;
  z-index: 5;
}

.section-robot {
  background: #190E30;
  overflow: hidden;
}

.section-robot .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
}

.section-robot .wrapper div {
  width: 100%;
  font-family: Arial, sans-serif;
}

.section-robot .wrapper .robot-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 700px) {
  .section-robot .wrapper .robot-title {
    margin-top: 60px;
  }
}

.section-robot .wrapper .robot-title-1 {
  min-height: 100%;
  color: white;
  font-size: 110px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1360px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 85px;
  }
}

@media screen and (max-width: 1000px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 900px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 700px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 520px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .section-robot .wrapper .robot-title-1 {
    font-size: 20px;
  }
}

.section-robot .wrapper .robot-title-1 .robot-special {
  background: -webkit-linear-gradient(0deg, #2beaff 35%, #ff12e3 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #190E30;
  font-size: 180px;
}

@media screen and (max-width: 1360px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 130px;
  }
}

@media screen and (max-width: 1000px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 110px;
  }
}

@media screen and (max-width: 900px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 90px;
  }
}

@media screen and (max-width: 700px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 65px;
  }
}

@media screen and (max-width: 520px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 50px;
  }
}

@media screen and (max-width: 420px) {
  .section-robot .wrapper .robot-title-1 .robot-special {
    font-size: 36px;
  }
}

.section-robot .wrapper .robot-title span {
  width: 100%;
  height: 50%;
}

.section-robot .wrapper .robot-hand {
  height: 90rem;
  width: 100%;
  background: url(../img/hand.png) 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: 1360px) {
  .section-robot .wrapper .robot-hand {
    height: 60rem;
  }
}

@media screen and (max-width: 1000px) {
  .section-robot .wrapper .robot-hand {
    height: 40rem;
  }
}

@media screen and (max-width: 900px) {
  .section-robot .wrapper .robot-hand {
    height: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .section-robot .wrapper .robot-hand {
    height: 25rem;
  }
}

@media screen and (max-width: 450px) {
  .section-robot .wrapper .robot-hand {
    height: 20rem;
  }
}

.section-robot .wrapper .robot-hand-title {
  margin: 10% 10% 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
}

@media screen and (max-width: 500px) {
  .section-robot .wrapper .robot-hand-title {
    width: 63%;
  }
}

.section-robot .wrapper .robot-hand-title span {
  min-width: 100%;
}

.section-robot .wrapper .robot-hand-title .robot-hand-1 {
  color: white;
  font-size: 70px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1360px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1080px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-1 {
    font-size: 22px;
  }
}

.section-robot .wrapper .robot-hand-title .robot-hand-2 {
  font-size: 140px;
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
  background: -webkit-linear-gradient(0deg, #2beaff 35%, #ff12e3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1360px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-2 {
    font-size: 120px;
  }
}

@media screen and (max-width: 1080px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 900px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .section-robot .wrapper .robot-hand-title .robot-hand-2 {
    font-size: 60px;
  }
}

.section-apps-promo {
  background: url(../img/woman.png), #190E30;
  background-position: bottom right, center;
  background-size: 55%, cover;
  background-repeat: no-repeat;
}

.section-apps-promo .wrapper {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-apps-promo .wrapper .promo-logo-table {
  width: 40%;
  height: 25%;
  padding-left: 200px;
  padding-top: 200px;
}

@media screen and (max-width: 1360px) {
  .section-apps-promo .wrapper .promo-logo-table {
    padding-left: 80px;
    padding-top: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .section-apps-promo .wrapper .promo-logo-table {
    padding: 0;
    width: 100%;
  }
}

.section-apps-promo .wrapper .promo-logo-table img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .section-apps-promo .wrapper .promo-logo-table img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.section-apps-promo .wrapper .promo-available {
  height: 20%;
  width: 50%;
  margin-top: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 150px;
}

@media screen and (max-width: 1360px) {
  .section-apps-promo .wrapper .promo-available {
    margin-top: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .section-apps-promo .wrapper .promo-available {
    padding: 0;
    width: 100%;
    margin-top: 100px;
  }
}

.section-apps-promo .wrapper .promo-available img {
  width: 40%;
  height: 100%;
  margin: 0 5%;
}

.section-apps-promo .wrapper .promo-available .button-redirec {
  text-decoration: none;
  width: 100%;
}

.section-apps-promo .wrapper .promo-available .button-redirec button {
  display: block;
  margin: 5% auto;
  width: 50%;
  height: 7rem;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 4rem;
  color: white;
  background: -webkit-linear-gradient(0deg, #2beaff 35%, #ff12e3 100%);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 1360px) {
  .section-apps-promo .wrapper .promo-available .button-redirec button {
    padding: 0 20px;
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .section-apps-promo .wrapper .promo-available .button-redirec button {
    font-size: 40px;
    height: 80px;
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  .section-apps-promo .wrapper .promo-available .button-redirec button {
    font-size: 35px;
    height: 80px;
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .section-apps-promo .wrapper .promo-available .button-redirec button {
    font-size: 35px;
    height: 80px;
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .section-apps-promo .wrapper .promo-available .button-redirec button {
    width: 60%;
  }
}

.section-apps-promo .wrapper .promo-available .button-redirec button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=index.css.map */