@import '_base.sass'
.section-intro   
    
    background: url(../img/circle.png), url(../img/fon.png)
    background-position: top right, center
    background-size: 730px, cover
    background-repeat: no-repeat
        
    height: 100vh    
    .wrapper
        width: 100%        
        .intro
            width: 100%            
            .description
                display: flex
                flex-direction: column                
                align-items: flex-end
                justify-content: center
                margin-top: 200px
                
                .title-content
                    display: flex
                    flex-direction: column
                    font-family: 'Russo One', sans-serif
                    .intro-title
                        color: #ffffff
                        font-size: 80px
                        margin-bottom: 75px
                        letter-spacing: inherit
                        text-align: right
                        font-weight: 800
                    .intro_title-gradient
                        background: linear-gradient(90deg, rgba(43,234,255,1) 35%, rgba(255,18,227,1) 100%)
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                .button-block
                    display: flex
                    flex-direction: column
                    .intro-button
                        color: #ffffff
                        background: linear-gradient(90deg, rgba(43,234,255,1) 35%, rgba(255,18,227,1) 100%)
                        font: 
                            size: 50px
                            weight: bold
                        border: none
                        outline: none
                        padding: 10px 0
                        width: 400px
                        border-radius: 20px
                        cursor: pointer
                        margin-bottom: 40px            
                    .arrow
                        width: 80px
                        margin: 0 auto
                        
                        

                        
                        
        