@import '_base.sass'
//font-family: 'Russo One', sans-serif
.gradient
    background: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgba(255,18,227,1) 60%)
.section-intro
    background: url(../img/circle.png), url(../img/fon.png)
    background-position: top right, center
    background-size: 37%, cover
    background-repeat: no-repeat        
    height: 1080px  
    .wrapper
        width: 100%        
        .intro
            width: 100%            
            .description
                display: flex
                flex-direction: column                
                align-items: flex-end
                justify-content: center
                margin-top: 230px                
                .title-content
                    display: flex
                    flex-direction: column
                    font-family: 'Russo One', sans-serif
                    .intro-title
                        color: #ffffff
                        font-size: 80px
                        margin-bottom: 75px
                        letter-spacing: inherit
                        text-align: right
                        font-weight: 800
                    .intro_title-gradient
                        background: linear-gradient(90deg, rgba(43,234,255,1) 35%, rgba(255,18,227,1) 100%)
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                .button-block
                    display: flex
                    flex-direction: column
                    .intro-button
                        color: #ffffff
                        background: linear-gradient(90deg, rgba(43,234,255,1) 35%, rgba(255,18,227,1) 100%)
                        font: 
                            size: 50px
                            weight: bold
                        border: none
                        outline: none
                        padding: 10px 0
                        width: 400px
                        border-radius: 20px
                        cursor: pointer
                        margin-bottom: 40px            
                    .arrow
                        width: 80px
                        margin: 0 auto
.video-svg_block
    background: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgba(255,18,227,1) 100%)
    
    height: 120px
    width: 100%
    .black-div
        height: 120px
        background-color: rgba( 0, 0, 0, 0.5)        
        display: flex
        justify-content: center
        .svg-video
            height: 120px
.section-video
    background: linear-gradient(90deg, rgba(255,18,227,1) 0%, rgba(25,14,48,1) 10%, rgba(25,14,48,1) 90%, rgba(43,234,255,1) 100%)    
    .wrapper          
        .video_block
            width: 100%
            display: flex
            flex-direction: column                     
            .video
                height: 600px
                border: 1px solid white
                margin: 50px 0 100px 0                
            .content_block
                display: flex
                flex-direction: column
                align-items: center
                margin-bottom: 30px
                font-family: 'Russo One', sans-serif             
                .video_svg-content
                    height: 80px
                    margin-bottom: 30px                    
                .video_title-content
                    background: linear-gradient(90deg, rgba(43,234,255,1) 35%, rgba(255,18,227,1) 100%)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    font: 
                        size: 30px
                    padding-bottom: 10px
                .video_description-content
                    max-width: 700px
                    text-align: center
                    color: #ffffff
                    font: 
                        size: 26px
.section-about
    width: 100%    
    .black-div        
        background-color: rgba( 0, 0, 0, 0.35)        
        display: flex
        justify-content: center
        .about_text
            font-family: 'Russo One', sans-serif
            color: white
            text-align: center
            opacity: 8
            font:
                size: 34px   
            max-width: 700px
            margin: 40px 0
.section-about-apps
    background-color: #190e30
    font-family: 'Russo One', sans-serif
    padding: 50px 0 //нужно убрать, сделано для отделения блока
    
    .wrapper
        display: flex
        flex-direction: column
        max-width: 70%
        .apps_description-block
            border-radius: 20px
            border: none            
            margin: 0 auto
            width: 100%                
            .black-div
                background-color: rgba( 0, 0, 0, 0.35)
                border-radius: 20px
                display: flex
                flex-direction: column
                align-items: center
                padding: 10px 0
                span
                    padding: 3px 0
                    color: white
                    font:
                        size: 32px
                
        .apps_main-block
            display: flex
            justify-content: space-between
            max-width: 100%
            margin-top: 70px
            .apps_applications
                display: flex
                flex-direction: column
                .application_text
                    color: white
                    font: 
                        size: 65px
                        weight: 800
                    line-height: 80px
                    margin-bottom: 30px
                .apps_button
                    color: white
                    border: none
                    outline: none
                    font: 
                        size: 30px
                    border-radius: 20px
                    padding: 25px 0

                    max-width: 400px
            .apps_users
                display: flex
                flex-direction: column                                      
                .icons-block_text
                    max-width: 400px
                    color: white
                    font: 
                        size: 40px
                    line-height: 40px



footer
    background: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgba(255,18,227,1) 100%)
    .wrapper        
        .footer-cards
            display: flex
            margin: 0 auto                       
            .card
                display: flex
                flex-direction: column
                align-items: center
                padding: 40px 70px                
                img
                    width: 200px
                    padding-bottom: 20px                  
                span
                    font:
                        size: 32px
                        family: 'Russo One', sans-serif
                        weight: bold
                    color: white
            
                

                        

                        
                        
        