@import '_base.sass'
@import '_header.sass'

body
    background-color: #190E30

.section-news
    font-family: 'Montserrat', sans-serif
    min-height: 100vh
    background: url(../img/logotip.png)
        size: 15%
        repeat: no-repeat
        position: top
    .wrapper
        .container
            padding-top: 200px
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            width: 70%
            h2
                color: #ffffff
                font-size: 40px
                margin-bottom: 30px              
            .content
                display: flex
                justify-content: center
                margin: 0 auto
                align-items: center
                
                .cards
                    display: flex
                    flex-direction: column                    
                    .card
                        color: #ffffff
                        font-size: 20px
                        line-height: 24px
                        border-bottom: 3px solid transparent
                        border-image: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgb(255, 18, 227) 60%)
                        border-image-slice: 1
                        padding: 20px 10px
                        text-align: center