@import '_base.sass'
@import '_header.sass'

body
    background-color: #190E30

.section-project
    font-family: 'Montserrat', sans-serif
    min-height: 100vh
    .wrapper
        .container
            padding-top: 130px
            display: flex
            margin: 0 auto
            h2 
                font-size: 40px
                color: #ffffff