@import '_base.sass'
@import '_header.sass'
.gradient
    background: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgb(255, 18, 227) 60%)
body
    background-color: #190E30

.section-project
    font-family: 'Montserrat', sans-serif
    min-height: 100vh
    .wrapper
        .container
            padding-top: 300px
            display: flex
            flex-direction: column
            text-align: center
            width: 100%
            h2 
                font-size: 40px
                color: #ffffff
                margin-bottom: 30px
            .content
                position: relative
                display: flex
                justify-content: center

                align-items: center
                width: 100%
                &::before
                    content: ''
                    width: 400px
                    height: 400px
                    background:
                        image: url(../img/logotip.png)
                        size: 100%
                        repeat: no-repeat
                    position: absolute
                    top: -350px
                    margin: 0 auto
                    @media screen and ( max-width: 800px )
                        width: 250px
                        height: 250px
                        top: -300px
                .cards
                    display: flex                    
                    width: 100%
                    flex-direction: column
                    align-items: center
                    @media screen and ( max-width: 1080px )
                        width: 100%
                        flex-direction: column                  
                        align-items: center
                    .card
                        display: flex                        
                        align-items: center
                        background-color: rgba(255, 255, 255, 0.85)
                        padding: 20px 10px
                        margin: 20px
                        border-radius: 30px
                        transition: all .3s
                        width: 50%                        
                        @media screen and ( max-width: 1080px )
                            padding: 10px
                            margin: 20px 0
                        @media screen and ( max-width: 700px )
                            width: 100%
                        a
                            width: 100%
                            display: flex
                            text-decoration: none
                            color: black
                            align-items: center
                       
                            @media screen and ( max-width: 1000px )
                                flex-direction: column                          
                            .card-img
                                img
                                    height: 200px
                                    width: 200px
                                    @media screen and ( max-width: 1360px )
                                        height: 150px
                                        width: 150px

                            .card-content                            
                                border-radius: 30px
                                padding: 20px 10px
                                
                                @media screen and ( max-width: 1200px )
                                    padding: 10px 10px
                                @media screen and ( max-width: 1000px )                            
                                    padding: 10px 0
                                .card-title
                                    text-align: left 
                                    font-size: 24px
                                    font-weight: bold
                                    padding-bottom: 15px
                                    margin: 0 auto                                    
                                    @media screen and ( max-width: 1360px )
                                        font-size: 18px
                                        font-weight: bold       
                                    @media screen and ( max-width: 1000px )
                                        text-align: center
                                    @media screen and ( max-width: 700px )
                                        font-size: 21px
                                    @media screen and ( max-width: 500px )
                                        font-size: 20px
                                .card-text
                                    font-size: 20px
                                    text-align: left                                    
                                    margin: 0 auto
                                    @media screen and ( max-width: 1730px )
                                        font-size: 18px
                                    
                                    @media screen and ( max-width: 1000px )
                                        text-align: center
                                    @media screen and ( max-width: 700px )
                                        font-size: 16px
                                    @media screen and ( max-width: 500px )
                                        font-size: 14px
                                    @media screen and ( max-width: 410px )
                                        font-size: 14px
                            .card-button
                                margin-top: auto
                                border-radius: 20px                                
                                .button
                                    background-color: rgba( 0, 0, 0, 0.4)
                                    border: none
                                    outline: none
                                    font-size: 36px
                                    border-radius: 20px
                                    padding: 15px 20px
                                    color: white
                                    cursor: pointer
                                    @media screen and ( max-width: 1730px )
                                        font-size: 30px
                                    @media screen and ( max-width: 1360px )
                                        padding: 15px
                                    @media screen and ( max-width: 1200px )
                                        padding: 10px
                                        font-size: 25px
                                    
                    
                        

