@import '_base.sass'
@import '_header.sass'

body
    background-color: #190E30
.gradient
    background: linear-gradient(90deg, rgba(43,234,255,1) 10%, rgb(255, 18, 227) 60%)
.section-timetable
    font-family: 'Montserrat', sans-serif
    min-height: 100vh
    .wrapper
        .container
            padding-top: 300px
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            width: 70%
            h2
                color: #ffffff
                font-size: 40px
                margin-bottom: 30px
                text-align: center
                @media screen and ( max-width: 900px )
                    font-size: 30px
                @media screen and ( max-width: 600px )
                    font-size: 24px       
            .content
                position: relative
                display: flex
                justify-content: center
                &::before
                    content: ''
                    width: 400px
                    height: 400px
                    background:
                        image: url(../img/logotip.png)
                        size: 100%
                        repeat: no-repeat
                    position: absolute
                    top: -350px
                    margin: 0 auto
                    @media screen and ( max-width: 800px )
                        width: 250px
                        height: 250px
                        top: -250px
                .cards
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    max-width: 900px
                    .card
                        min-height: 320px
                        min-width: 250px
                        text-align: center                        
                        margin: 10px 10px
                        border-radius: 30px
                        .black
                            background-color: rgba(0, 0, 0, 0.25)
                            height: 100%
                            border-radius: 30px
                            padding: 10px
                            .card-content
                                display: flex
                                flex-direction: column
                                max-width: 250px
                                margin: 0 auto
                                h3
                                    font-size: 25px
                                    padding-bottom: 10px
                                .card-text